# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant


/vagrant
requirements.php
Vagrantfile
/advanced
LICENSE.md
README.md
codeception.yml
/frontend/runtime
/frontend/tests
/frontend/web/images/cache/
robots.txt
frontend/web/google*